$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 10px;
  }
}

.footer {
    padding-top: 5px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.message {
    transition: all .5s ease;
    height: 40px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    .v-enter, .msg.v-leave {
        height: 0;
        padding: 0;
        margin: 0;
    }
}

.inquiry {
  width: 100%;
  margin: 5px 0;
}

.chat-history {
  margin: 0;
  padding: 0;
  ul {
    width: 100%;
  }
  li {
    list-style: none;
  }
}

.well {
  min-height: 0;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#drawCanvas canvas {
  width: 100%;
  height: 313px;
  border:1px solid #ccc;
}

.live-video-box {
  position: relative;
  .real-time-video {
      width: 100%;
      height: 372px;
      border: 1px solid black;
      -webkit-transform: scaleX(-1);
  }
  #remote-video {
    position: absolute;
    right: 30px;
    bottom: 25px;
    width: 100px;
    height: 100px;
  }
}

.toolbar {
  ul {
    margin: 0;
    padding: 0;
    clear: both;
  }
  li {
    width:20px;
    height:20px;
    text-align:center;
    list-style-type: none;
    border:1px solid #ccc;
    border-radius:6px;
    margin:5px;
    display:block;
    float:left;

    border-color: #777;
    border-style: solid;
    .active {
        border-color: #fff;
        border-style: dashed;
    }
  }
}

.black {
  background-color:black;
}
.red {
  background-color:red;
}
.green {
  background-color:green;
}
.blue {
  background-color:blue;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 15px;
  }

}
